body {
  cursor:
    url("https://img.akutazehy.xyz/home/cursor/01-normal-select.png"), auto;
}

.text-hover {
  cursor: url("https://img.akutazehy.xyz/home/cursor/06-text-select.png"), text;
}

a {
  cursor:
    url("https://img.akutazehy.xyz/home/cursor/15-link-select.png"), pointer;
}

.help {
  cursor: url("https://img.akutazehy.xyz/home/cursor/02-help-select.png"), help;
}

.wait {
  cursor: url("https://img.akutazehy.xyz/home/cursor/04-busy.png"), wait;
}

.crosshair {
  cursor:
    url("https://img.akutazehy.xyz/home/cursor/05-precision-select.png"),
    crosshair;
}

/* .text {
  cursor: url("https://img.akutazehy.xyz/home/cursor/06-text-select.png"), text;
} */

.handwriting {
  cursor: url("https://img.akutazehy.xyz/home/cursor/07-handwriting.png"), text;
}

.not-allowed {
  cursor:
    url("https://img.akutazehy.xyz/home/cursor/08-unavailable.png"), not-allowed;
}

.ns-resize {
  cursor:
    url("https://img.akutazehy.xyz/home/cursor/09-vertical-resize.png"),
    ns-resize;
}

.ew-resize {
  cursor:
    url("https://img.akutazehy.xyz/home/cursor/10-horizontal-resize.png"),
    ew-resize;
}

.nwse-resize {
  cursor:
    url("https://img.akutazehy.xyz/home/cursor/11-diagonal-resize-1.png"),
    nwse-resize;
}

.nesw-resize {
  cursor:
    url("https://img.akutazehy.xyz/home/cursor/12-diagonal-resize-2.png"),
    nesw-resize;
}

.move {
  cursor: url("https://img.akutazehy.xyz/home/cursor/13-move.png"), move;
}
