body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: clip;
  background-color: #000000;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spin-fish {
  width: auto;
  height: 100px;
}

.fish-text {
  position: absolute;
  white-space: nowrap;
  user-select: none;
  color: #fff;
}

.active-fish {
  position: absolute;
  white-space: nowrap;
  user-select: none;
  color: #fff;
  animation: swim 5s linear infinite;
}

.active-fish {
  position: absolute;
  white-space: nowrap;
  user-select: none;
  color: #fff;
  /* animation: swim 30s linear infinite; */
}

/* @keyframes swim {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100vw);
  }
} */
