@import url("/css/cursor.css");

@font-face {
  font-family: 'Higashi';
  src: url('https://assets.akutazehy.xyz/fonts/HigashiOme-Gothic-1.3i.ttf') format('truetype');
}

@font-face {
  font-family: 'OPPOSans';
  src: url('https://assets.akutazehy.xyz/fonts/OPPOSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Mono';
  src: url('https://assets.akutazehy.xyz/fonts/SFMono-Regular-10.otf') format('opentype');
}

@font-face {
  font-family: 'Ark Pixel';
  src: url('https://assets.akutazehy.xyz/fonts/ark-pixel-12px-proportional-zh_cn.otf') format('opentype');
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: #f0f0f0;
  font-family: 'Ark Pixel', sans-serif;
}

p,
a,
span,
i,
li,
ul,
button {
  font-family: 'Ark Pixel', sans-serif;
  /* 'SF Mono', 'OPPOSans', 'Ark Pixel', monospace; */
}

a {
  color: whitesmoke;
}

a:visited {
  color: inherit;
}

h1 {
  font-size: 5em;
  align-self: center;
}


h1,
h2,
h3 {
  font-family: 'Ark Pixel', sans-serif;
  /* 'Higashi', sans-serif; */
  color: #f0f0f0;
}

#container {
  z-index: 1;
  width: 80vw;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

#fish-navigate {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
}

/* 从下面开始是非全局样式 */

.no-select {
  user-select: none;
}
