@import url("/css/cursor.css");

@font-face {
  font-family: 'Higashi';
  src: url('/resources/fonts/HigashiOme-Gothic-1.3i.ttf') format('truetype');
}

@font-face {
  font-family: 'OPPOSans';
  src: url('/resources/fonts/OPPOSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Mono';
  src: url('/resources/fonts/SFMono-Regular-10.otf') format('opentype');
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: #f0f0f0;
}

p,
a,
span,
i {
  font-family: 'SF Mono', sans-serif;
}

a {
  color: whitesmoke;
}

a:visited {
  color: inherit;
}

h1 {
  font-family: 'Higashi', sans-serif;
  font-size: 5em;
  color: #f0f0f0;
  align-self: center;
}

h2 {
  font-family: 'Higashi', sans-serif;
  color: #f0f0f0;
}

#container {
  z-index: 1;
  width: 80vw;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

#fish-navigate {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
}

/* 从下面开始是非全局样式 */

.no-select {
  user-select: none;
}