:root {
  --col-yellow: #fff100;
  --col-grey: #6e6b6a;
  overflow: hidden;
}

@font-face {
  font-family: openSansCondBold;
  src: url(/resources/fonts/OpenSansCondensed-Bold.ttf);
}

@font-face {
  font-family: ralewayBold;
  src: url(/resources/fonts/Raleway-ExtraBold.ttf);
}

@font-face {
	font-family: mushin;
	src: url(/resources/fonts/mushin.otf);
}

@font-face {
	font-family: HigashiOme;
	src: url(/resources/fonts/HigashiOme-Gothic-1.3i.ttf);
}

@font-face {
	font-family: Geometos;
	src: url(/resources/fonts/Geometos.ttf);
}

@font-face {
	font-family: Shigoto;
	src: url(/resources/fonts/ShigotoMemogaki-Regular-1-01-2.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/resources/images/ai-lang.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.contents-box {
  background-color: var(--col-yellow);
  color: var(--col-grey);
  font-weight: bold;
  margin: 0 auto;
  padding: 2rem 2rem;
  position: absolute;
  width: 50%;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%); /* 以中心点为基准进行定位 */
}

.contents-title {
  display: block;
  font-family: mushin, sans-serif;
  letter-spacing: 0.4rem;
  text-align: center;
}

#nuclearButton {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute; /* 绝对定位 */
  bottom: 0; /* 定位到页面底部 */
  left: 0; /* 定位到页面左侧 */
  margin: 20px; /* 添加一些外边距，使按钮不紧贴边缘 */
  cursor: pointer;
  outline: none;
}

#nuclearButton::before {
  content: '';
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.ico {
  position: absolute;
  transition: all 2s infinite;
  width: 88px;
  height: 31px;
  background-color: #6e6b6a;
}

.normal {
  transform: translateX(0) translateY(0);
}

.explode {
  /* 这里可以添加一些动画效果 */
}